.title{
  font-size: 100px;
  grid-area: c;
  background: gray;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height: 150px;
  margin-top: 50px;
  border: 5px solid cornflowerblue;
  border-radius: 7px;
  text-align: center;
  color: white;
  padding-top: 35px;
}
.titleDisable{
  font-size: 100px;
  color: red;
  grid-area: c;
  background: gray;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height: 150px;
  margin-top: 50px;
  border: 5px solid cornflowerblue;
  border-radius: 7px;
  text-align: center;
  padding-top: 35px;
}
.buttons{
  grid-area: h;
  background-color: gray;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-areas:
"g g";
  grid-gap: 300px;
}
.button{
font-size: 20px;
  height: 50px;
  width: 205px;
  border: 5px solid white;
  border-radius: 7px;
  background-color: white;
  font-weight: bold;
}
.appWrapper {
  display: grid;
  grid-template-areas:
"c"
"h";
}
.all {
  display: grid;
  grid-template-areas:
"n";
  grid-area: n;
  margin-left: auto;
  margin-right: auto;
  background-color: gray;
  width: 800px;
  height: 350px;
  margin-top: 100px;
  border: 5px solid cornflowerblue;
  border-radius: 7px;
}
html{
  min-height: 100%;
  min-width: 100%;
  background: gray;
}